/*// ! Styles Goes Here */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Wilkysta";
    src: url("../fonts/Wilkysta.ttf");
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
}

.wilkysta-font {
    font-family: "Wilkysta";
}
.montserrat-font {
    font-family: "Montserrat";
}

@layer utilities {
    .bg-main-clr {
        background-color: #EFEDEA;
    }
    .border-main-clr {
        background-color: #1E1E1E;
    }
    .bg-secondary-clr {
        background-color: #1E1E1E;
    }
    .text-main-clr {
        color: #1E1E1E;
    }
    .text-secondary-clr {
        color: #DEC2BA;
    }
    .border-clr {
        border-color: #DEC2BA;
    }
    .side-menu-li-active {
        padding: 0.2rem 0 0.2rem 0.5rem;
        background-color: #dec2ba89;
        color: #1E1E1E;
    }
}